* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    background: 
        linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
        url('Obrazy/Tło.jpg') center/cover fixed;
}

nav ul {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background: linear-gradient(to right, rgb(91, 65, 116) , rgb(68, 34, 92), rgb(30, 1, 39));
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
}

nav li {
    flex: 1;
    text-align: center;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 15px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5625rem;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(129, 104, 153);
}

#tytul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 30px auto;
    margin-top: 80px;
    max-width: 800px;
    padding: 20px;
    background-color: rgb(245, 245, 240);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.2rem;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

strong {
    color: #2c3e50;
    font-weight: 700;
    background: #d8d8d8;
    padding: 2px 6px;
    border-radius: 4px;
    border-bottom: 3px solid #8000ff;
    border-left: 3px solid #8000ff;
}

strong:hover, .pudelko:hover {
    position: relative;
    top: -1px;
    transition: top 0.3s ease;
}

#wstep {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 30px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: rgb(245, 245, 240);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: left;
}

a {
    text-decoration-line: none;
}

h2 {
    padding: 2px 6px;
    border-radius: 4px;
    border-left: 3px solid #c399ec;
    border-right: 3px solid #c399ec;
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

i {
    font-weight: 650;
}

#aplikacje {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 30px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: rgb(245, 245, 240);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#technologie {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
    max-width: 1200px;
    padding: 0 20px;
    flex-wrap: wrap;        
}

.pudelko {
    flex: 1;                 
    min-width: 250px;
    background-color: rgb(245, 245, 240);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;      
    transition: top 0.3s ease;
}

.pudelko h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #c399ec;
    display: inline-block;
}

.galleryBlender {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.galleryBlender img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 600px) {
    .galleryBlender{
    grid-template-columns: 1fr;
    }
}
 
img:hover {
    animation: pulsowanie 1.2s ease-in-out;
}

@keyframes pulsowanie{
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        padding: 10px 0;
    }

    nav li {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    nav li:last-child {
        border-bottom: none;    
    }
    
    nav li a {
        padding: 15px;         
    }
}

.galleryC {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 30px;
}

.galleryC img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 600px) {
    .galleryC{
    grid-template-columns: 1fr;
    }
}

/* --- Style dla filmu --- */
.film {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1120px;
    margin: 30px auto;
    padding: 0 20px;
}

/* Stylizacja samej ramki z filmem */
.film iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    display: block;
}

#link {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: underline;
}

footer {
    background: linear-gradient(to right, rgb(91, 65, 116) , rgb(68, 34, 92), rgb(30, 1, 39));
    color: white;          
    padding: 20px 0;        
    margin-top: 50px;      
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2); 
    width: 100%;
}

.footer-container {
    display: flex;            
    justify-content: space-between; 
    align-items: center;   
    max-width: 1200px;     
    margin: 0 auto;        
    padding: 0 20px;         
}

/* Stylizacja lewej strony */
.footer-left p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8; 
}

/* Stylizacja linków po prawej */
.footer-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px; 
    font-weight: 600;
}

.footer-right a:hover {
    color: rgb(195, 153, 236); 
}

/* --- Responsywność dla telefonu */
@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        gap: 15px;  
        text-align: center;
    }
    
    .footer-right a {
        margin: 0 10px;
        display: inline-block;
    }
}



